<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net>
		<root>
			<level value="DEBUG"/>
			<!--根据log级别记录到不同的日志文件-->
			<appender-ref ref="InfoLog" />
			<appender-ref ref="WarnLog" />
			<appender-ref ref="ErrorLog" />
		</root>
		<appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
			<!--INFO、DEBUG级别的日志文件路径，根据自己的需要修改-->
			<file value="Log/info.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value=".yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG" />
				<levelMax value="INFO" />
			</filter>
		</appender>
		<appender name="WarnLog" type="log4net.Appender.RollingFileAppender">
			<!--WARN级别的日志文件路径，根据自己的需要修改-->
			<file value="Log/warn.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value=".yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="WARN" />
			</filter>
		</appender>
		<appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
			<!--ERROR级别的日志文件路径，根据自己的需要修改-->
			<file value="Log/error.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value=".yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="ERROR" />
			</filter>
		</appender>
	</log4net>
</configuration>